Question 1

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

0.25.1

------------

Question 2

In [4]:
import numpy as np

In [9]:
x = np.array(['a', 'b', 'c', 'd', 'e']) 
s = pd.Series(x)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

--------

Question 3

In [10]:
df = pd.DataFrame({'Roll Number': ['23', '20', '18', '21'], 
                   'Name': ['Jake', 'Amy', 'Rosa', 'Terry'], 
                   'Marks In Percentage': [97, 90, 70, 82]}) 
  

df['index'] = df.index 
df

  Roll Number   Name  Marks In Percentage  index
0          23   Jake                   97      0
1          20    Amy                   90      1
2          18   Rosa                   70      2
3          21  Terry                   82      3

----------

Question 4

In [11]:
import seaborn as sns

In [12]:
mpg = sns.load_dataset('mpg')

In [13]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

-------

Question 5

In [21]:
mpg.origin

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
393       usa
394    europe
395       usa
396       usa
397       usa
Name: origin, Length: 398, dtype: object

-------------

Question 6

In [29]:
df1 = mpg[mpg['origin'].str.contains('usa')]
df1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10